<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Bienvenido(a) a mi aplicación</h1>
        <p class="lead">Esta aplicación servira para manejar todas las compras del almacén MiIngresoHitss.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Clientes</h2>
            <p>Esta opción te ayudara a ejecutar diferentes acciones referente a los clientes.</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Productos</h2>
            <p>Allí podrás manejar a tu antojo todos los productos de tu almacén.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Catalogo</h2>
            <p>Usted puede iniciar sus compras utilizando esta opción.</p>
        </section>>
    </div>
</main>