
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        ViewBag.Title = "Reporte de Venta";
    }

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Generar", "Reportes", FormMethod.Post))
    {
        <div class="form-group">
            <label>Seleccione fecha inicial:</label>
            <input type="date" name="FechaInicial" class="form-control" />
        </div>
        <div class="form-group">
            <label>Seleccione fecha final:</label>
            <input type="date" name="FechaFinal" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Generar</button>
    }

</body>
</html>
